body{
    background-image: linear-gradient(to right, rgba(93, 0, 121, 0.866), rgba(169, 34, 0, 0.789));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.main-container{
    height: 465px;
    width: 465px;
    margin: auto;
    border-radius: 4%;
    text-align: center;
    background-color: rgba(255, 255, 255);
}
input[type=text]{
    background-color: rgba(215, 215, 215, 0.789);
    height: 27px;
    width: 270px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 100, 3);
}
.add-btn{
    display: inline-block;
    padding: 7px 5px;
    margin-left: -9px;
    border-radius: 5px;
    border-color: rgb(255, 100, 3);
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 100, 3);
    color: rgba(255, 255, 255, 0.789);
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
};
h1{
    font-family: "Copperplate", sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
a.btn-link{
    color: rgba(255, 255, 255, 0.789);
}
a.btn-back{
    color: rgba(119, 0, 255, 0.789);

}
.create-container{
    margin-top: 40px;
    margin-bottom: 25px;
}
.todo-container{
    height: 260px;
    display: block;
    overflow: auto;
}
td:first-child{
    border-radius: 5px 0 0 5px;
    padding: 2px 0px 10px 0px;
}

td:last-child{
    border-radius: 0 5px 5px 0;
    padding: 2px 10px 10px 0px;
}
table{
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 74%;
    margin: auto;
}
tr.btn-all{
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 100, 3);
    font-size: larger;
}
/* td.td-del-all{
    margin: auto;
}
td.td-done-all{
    margin-right: -5px;
} */
.done-all-btn{
    margin-right: -25px;
}
tr{
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(255, 100, 3);
}
.todo-title{
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    color: #ffffff;
}
.todo-buttons{
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}
/* .todo-list{
    height: 30px;
    width: auto;
    align-items: center;
    margin: 0 60px 10px 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(255, 100, 3);
    
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: rgba(255, 255, 255, 0.789);
} */
.back-btn{
    margin-right: -35px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: xx-large
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F4512C #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #F4512C;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF7F4D;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF5F23;
}
